.1 {
  content:url("../img/character/mhum.png");
}

.2 {
  content:url("../img/character/morc.png");
}

.3 {
  content:url("../img/character/mdwa.png");
}

.4 {
  content:url("../img/character/mnelf.png");
}

.5 {
  content:url("../img/character/mud.png");
}

.6 {
  content:url("../img/character/mtaur.png");
}

.7 {
  content:url("../img/character/mgno.png");
}

.8 {
  content:url("../img/character/mtroll.png");
}

.9 {
  content:url("../img/character/mgob.png");
}

.10 {
  content:url("../img/character/mbelf.png");
}

.11 {
  content:url("../img/character/mdrae.png");
}

.12 {
  content:url("../img/character/mwor.png");
}

.13 {
  content:url("../img/character/mpan.png");
}

.14 {
  content:url("../img/character/mpan.png");
}


.15 {
  content:url("../img/character/mpan.png");
}